
<!DOCTYPE HTML>
<html>

<head>
	<title>ADD</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />

	<!-- Custom CSS -->
	<link href="css/style.css" rel='stylesheet' type='text/css' />

	<!-- font-awesome icons CSS -->
	<link href="css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons CSS -->

	<!-- side nav css file -->
	<link href='css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
	<!-- side nav css file -->

	<!-- js-->
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/modernizr.custom.js"></script>

	<!--webfonts-->
	<link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
		rel="stylesheet">
	<!--//webfonts-->

	<!-- Metis Menu -->
	<script src="js/metisMenu.min.js"></script>
	<script src="js/custom.js"></script>
	<link href="css/custom.css" rel="stylesheet">
	<!--//Metis Menu -->

</head>

<body class="cbp-spmenu-push">
	<div class="main-content">
		<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
			<!--left-fixed -navigation-->
			<%- include('sidebar');-%>
		</div>
		<!--left-fixed -navigation-->

		<!-- header-starts -->
		<%- include('header');-%>
			<!-- //header-ends -->
			<!-- main content start-->
			<div id="page-wrapper">
				<div class="main-page">
					<div class="forms">
						<div class="form-grids row widget-shadow" data-example-id="basic-forms">
							<div class="form-title">
								<h4>Product Form :</h4>
							</div>
							<div class="form-body">

								<form action="/add" method="post" enctype="multipart/form-data">
									<div class="form-group">
										<label for="exampleInputEmail1">Product Name</label>
										<input type="text" class="form-control" id="product_name" name="product_name"
											placeholder="Enter Product Name ">
									</div>

									<div class="form-group">
										<label for="form-group">Price</label>
										<input type="price" class="form-control" id="price" name="price"
											placeholder="Enter Price">
									</div>

									<div class="form-group">
										<label for="form-group">Category</label>
										<input type="price" class="form-control" id="category" name="category"
											placeholder="Enter Category">
									</div>

									<div class="form-group">
										<label for="form-group">Description</label>
										<input type="description" class="form-control" id="description"
											name="description" placeholder="Enter Description">
									</div>

									
									<div class="form-group">
										<label for="exampleInputFile">File input</label>
										<input type="file" id="fileupload" name="fileupload">
									</div>

							</div>
							<button type="submit" class="btn btn-default">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
	</div>
	</div>
	</div>

	<!-- side nav js -->
	<script src='js/SidebarNav.min.js' type='text/javascript'></script>
	<script>
		$('.sidebar-menu').SidebarNav()
	</script>
	 <!-- //side nav js --> 

	<!-- Classie -->
	 <!-- for toggle left push menu script  -->
	 <script src="js/classie.js"></script>
	<script> 
		var menuLeft = document.getElementById('cbp-spmenu-s1'),
			showLeftPush = document.getElementById('showLeftPush'),
			body = document.body;

		showLeftPush.onclick = function () {
			classie.toggle(this, 'active');
			classie.toggle(body, 'cbp-spmenu-push-toright');
			classie.toggle(menuLeft, 'cbp-spmenu-open');
			disableOther('showLeftPush');
		};

		 function disableOther(button) {
		if (button !== 'showLeftPush') {
				classie.toggle(showLeftPush, 'disabled');
			}
	 } 
	</script>

 <script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>

	<script src="js/bootstrap.js"> </script>  

</body>

</html>