<div class="sticky-header header-section ">
    <div class="header-left">
        
        <!--toggle button start-->
        <button id="showLeftPush"><i class="fa fa-bars"></i></button>
        <!--toggle button end-->
        <div class="profile_details_left"><!--notifications of menu start -->
            <div class="clearfix"> </div>
        </div>
        <!--notification menu end -->
        <div class="clearfix"> </div>
    </div>
    <div class="header-right">
        
    
        <div class="clearfix"> </div>				
    </div>
    <div class="clearfix"> </div>	
</div>